*.iml
.gradle
.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

app/src/main/java/com/maksk993/cryptoportfolio/presentation/view/fragments/PortfolioFragment.java
app/src/main/java/com/maksk993/cryptoportfolio/presentation/models/FindFragmentById.kt
app/src/main/java/com/maksk993/cryptoportfolio/data/service